<h1>Pump v0.1</h1>

<a href="#/plans">Voltar</a>

<div ng-controller="TrainingPlanController">
  
  <form name="trainingPlanForm" ng-submit="trainingPlanForm.$valid && save(plan)" novalidate>

    <label for="description">Descrição</label>
    <input name="description" type="text" value="{{plan.description}}" ng-model="plan.description" required>            
    <br>
    <label for="startDate">Periodo Inicial</label>
    <input name="startDate" type="text" value="{{plan.startDate}}" ng-model="plan.startDate" required>    
    <br>
    <label for="endDate">Periodo Final</label>
    <input name="endDate" type="text" value="{{plan.endDate}}" ng-model="plan.endDate" required>    
    <br>
    <label for="reason">Motivo</label>  
    <textarea name="reason" rows="4" placeholder="{{plan.reason}}" ng-model="plan.reason" required></textarea>
    <br>
    <input type="submit" value="Submit">

  </form>
</div>

