<h1>Pump v0.1</h1>

<a href="#/">Voltar</a>

<p>{{hello}}</p>
<div ng-controller="StudentController">
  <form name="studentForm" ng-submit="studentForm.$valid && save(student)" novalidate>
    <label for="name">Nome</label>
    <input name="name" type="text" value="{{student.name}}" ng-model="student.name" required>
    <br>
    <label for="born">Nasc.</label>
    <input name="born" type="text" value="{{student.born}}" ng-model="student.born" required>
    <br>
    <label for="weight">Peso</label>
    <input name="weight" type="number" value="{{student.weight}}" ng-model="student.weight" required>
    <br>
    <label for="height">Altura</label>
    <input name="height" type="number" value="{{student.height}}" ng-model="student.height" required>
    <br>
    <input type="submit" value="Submit">

  </form>
  <p>{{status}}</p>
</div>

